

@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap');


body {

    background-image: url(Images/libraryArt.jpg);
    background-repeat: repeat-y;
    background-size: 100vw;
    
}

p {

    color: rgb(224, 222, 218);
}

h1 {
    color: #c6cad1;
    font-family: 'exo',sans-serif;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

label{
    font-family: 'exo',sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: rgb(224, 222, 218);
}

option{
    font-family: 'exo',sans-serif;
    font-size: 16px;
}

.dropDownLabel{
    font-family: 'exo',sans-serif;
    font-size: 24;
}

select{
    font-family: 'exo',sans-serif;
    margin-bottom: 30px;
    font-size: 24;
    border-radius: 6px;
}

.colorCheckbox{
    margin-bottom: 20px;
}

input {
    padding: 12px;
    background-color: #eee;
    border-radius: 6px;
    border: none;
    outline: none;
    font-size: 16px;
    color: #333;
    
}

.cardName{
    width: 70%;
    
}


.randomCardSearch {
    display: block;
    text-align: center;
    border-radius: 10px;
    padding: 30px;
}

form{
    width: 50%;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.cardSearch {
    font-size: 34px;
    text-align: center;
    border-radius: 10px;
}

.searchCardButton{
    font-family: 'exo',sans-serif;
    width: 80%;
    padding: 12px;
    background: #3b3f49;
    border-radius: 6px;
    border: none;
    cursor: pointer; /* changes to pointer to help user know the button does something*/
    font-size: 16px;
    color: #fff;
    font-weight: 500; /* adds a little bold effect to make the button stand out*/
    margin-bottom: 20px;
    transition: 0.5s; /*transition effect when hovered over*/
}

.randomImageDiv{
    display: block;
    text-align: center;
    border-radius: 10px;
    padding: 30px;
}

img{
    padding: 12px;
}

button {
    font-family: 'exo',sans-serif;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 12px;
    background: #195168;
    border-radius: 6px;
    border: none;
    cursor: pointer; /* changes to pointer to help user know the button does something*/
    font-size: 16px;
    color: #fff;
    font-weight: 500; /* adds a little bold effect to make the button stand out*/
    margin-bottom: 20px;
    transition: 0.5s; /*transition effect when hovered over*/
}

button:hover {
    background: #6884d3;
}
