@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');




.footerContainer {
    font-family: 'exo',sans-serif;
    height: 20vh;
    text-align: center;
}


a {
    margin-right: 10px;
}

a:visited{

    color: #52528d;
}