

@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap');

.entirePage{

    background-image: url(Images/grayTexture.jpg);
    background-size: contain;
    background-repeat: repeat-y;
    width: 60%;
    margin-left: 20%;
    margin-top: 2%;
    background-size: 100vw;

}

.header {
    font-family: 'exo',sans-serif;
    height: 10vh;
    justify-content: center;
    align-items: center;
}


h2 {
    color: rgb(224, 222, 218);
    font-family: 'exo',sans-serif;
    font-size: 34px;
    text-align: center;
    margin-bottom: 20px;
}

p {
    font-family: 'exo',sans-serif;
    text-align: center;
}

a {
    font-family: 'exo',sans-serif;
    margin-right: 10px;
}
