

@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap');


body {

    background-image: url(http://localhost/MagicSearchSite/Images/libraryArt.jpg);
    background-repeat: repeat-y;
    background-size: 100vw;
    
}

.container{

    margin-top: 15%;
    margin-bottom: auto;
}


.form-box {
    justify-content: center;
    align-items: center;
    width: 50%;
    max-width: 450px; /* set max just in case */
    padding: 30px; /* ensure content doesn't stick to the edges*/
    background: #585858;
    border-radius: 10px; /* gives rounded corners */
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin: 5px auto;
    display: none;
}

.form-box.active {
    display: block;
}

h2 {
    font-family: 'exo',sans-serif;
    font-size: 34px;
    text-align: center;
    margin-bottom: 20px; /* padding to make sure the elements don't touch*/
}

input {
    font-family: 'exo',sans-serif;
    width: 100%;
    padding: 12px;
    background-color: #eee;
    border-radius: 6px;
    border: none;
    outline: none;
    font-size: 16px;
    margin-bottom: 20px;
}

button {
    font-family: 'exo',sans-serif;
    width: 100%;
    padding: 12px;
    background: #3b3f49;
    border-radius: 6px;
    border: none;
    cursor: pointer; /* changes to pointer to help user know the button does something*/
    font-size: 16px;
    color: #fff;
    font-weight: 500; /* adds a little bold effect to make the button stand out*/
    margin-bottom: 20px;
    transition: 0.5s; /*transition effect when hovered over*/
}

/* sets hover color */
button:hover {
    background: #a4a5a7;
}

p {
    font-family: 'exo',sans-serif;
    font-size: 14.5px;
    text-align: center;
    margin-bottom: 10px;
    color: #fff;
}

p a {
    font-family: 'exo',sans-serif;
    color: #7494ec;
    text-decoration: none; /* removes the underline from the text*/
}

p a:hover{
    text-decoration: underline; /* display underline only when hovered*/
}

.error-message{
    font-family: 'exo',sans-serif;
    padding: 12px;
    background: #f8d7da;
    border-radius: 6px;
    font-size: 16px;
    color: #a42834;
    text-align: center;
    margin-bottom: 20px;
}