
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap');

body {

    background-image: url(Images/libraryArt.jpg);
    background-repeat: repeat-y;
    background-size: 100vw;
    
}

p {

    color: rgb(224, 222, 218);
}
img {

    padding: 20px;
    border-radius: 35px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}


.changePageLinks{

    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.imageDiv{

    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

form {

    display: inline;
}