
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap');

body {

    background-image: url(http://localhost/MagicSearchSite/Images/libraryArt.jpg);
    background-repeat: repeat-y;
    background-size: 100vw;
    
}

.saveDeckDiv{

    margin-top: 20px;
}

button{
    font-family: 'exo',sans-serif;
    font-size: 16px;
    color: #fff;
    background: #195168;
    border-radius: 6px;
}


select{
    font-family: 'exo',sans-serif;
    margin-bottom: 30px;
    font-size: 20;
    border-radius: 6px;
    background-color: #3b3f49;
    color: #fff;
    display: inline;
}


label{
    font-family: 'exo',sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: rgb(224, 222, 218);
}
.imageAndCardInfo{

    display: flex;
}
.infoText{

    text-align: left;
    margin-left: 20%;
}

.cardLegality{

    margin-top: 20px;
    text-align: center;
}

.legality{

    display: inline;
    margin-right: 5px;
}

div{

    text-align: center;
}

p {

    color: rgb(224, 222, 218);
}
img {

    padding: 20px;
    border-radius: 35px;
    margin-left: 20%;
    margin-right: auto;
}


.changePageLinks{

    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.imageDiv{

    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

form {

    display: inline;
}